

.container{
    display:flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    /* height: 100vh; */
    
}

.create-account-card{
    width: 80%;
    height: 58rem;
    background-image:url('/login2.png') ;
    background-repeat: no repeat;
    background-size: cover;
    background-position: center;
    background-color: antiquewhite;
    border-radius: 25px;
    position:relative; 
    margin-bottom: 25px;
}

.create-account-form{ 
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:10px;
    position: absolute;
    margin-top: 330px;
    color: #fff;
    width: 35%;
   
}

.create-label-password{
   
    font-size: 15px;
    margin: 0 auto;
    /* margin-right: 220px; */
}

.create-label-confirmpaswword{
    text-align: center;
    margin: 0 auto;
    font-size: 15px; 
}

.create-label-email{
    margin: 0 auto;
    font-size: 15px;
}

.create-label-username{
    margin: 0 auto;
    font-size: 15px;
}


#email, #userName, #password, #con-pasw{
    width: 20rem;
    padding: 6px;
    border: none;
    outline: none;
    border-bottom: 2px solid #3d3d3d;
    font-size: 16px;
    border-radius: 9px;
    /*background-color: #38003d;*/
}

.create-account-btn{
    width: 21rem;
    padding: 8px;
    background-color: #a000cc;
    padding: 10px 25px;
    
    color: white;
    font-size: 18px;
    font-weight: bold;
    border-radius: 25px;
    border: none;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
   

}

.create-account-btn:hover{
    cursor: pointer;
    background-color:  var(--btn-hover);
    
}

.create-account-form span{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    margin-top: 3px;

}

.create-account-form span a{
    color: rgb(127, 245, 80);;
}

@media screen and (max-width: 768px){
    .create-account-form{
        width: 50%;
    }
    .create-account-card{
        width: 90%;
    }
    #email, #userName, #password, #con-pasw{
        width: 15rem;
    }
    .create-label-confirmpaswword{
        text-wrap: nowrap;
    }
    .create-account-btn{
        width: 10rem;
        font-size: 16px;
        padding: 7px 15px;
    }
}


.create-account-form span a {
    color: #fff;
    transition: color 0.3s ease; /* Smooth transition for the color change */
}

.create-account-form span a:hover {
    color: white;
}
