/* Field.css */
.field-container {
    height: 80vh;
    width: 65%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('/fantasyfield.png');
    object-fit: cover;
    background-size: cover; 
    background-position: center; 
    top: 5em;
  }
  @media only screen and (max-width: 800px) {
    .field-container {
      top: 35em;
    }
  }
  .field-lines {
    height: 60vh;
    width: 88%;
  }
  
  .field-FWD-line {
    height: 15vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }
  
  .field-MID-line {
    height: 15vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .field-DEF-line
  {
    height: 15vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
  }
  .field-GK-line {
    display: flex;
    justify-content: center;
    height: 15vh;
    width: 100%;
    align-items: flex-end;
  }

  .default-shirt-container {
    height: 13vh;
    min-height: 50px;
    min-width: 50px;
    width: 8vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  
  .default-shirt {
    height: 60%; /* Adjust the height as needed */
    width: 60%;  /* Adjust the width as needed */
  }

  .real-player-shirt-container{
    height: 13vh;
    width: 8vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .real-shirt-container-1 {
    height: 12vh;
    width:7vw;
  }

  .real-shirt-container-2{
    height: 10vh;
    width:7vw;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  
  .real-shirt-container-2-name {
    height: auto;
    min-width: 7vw;
    width: auto;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    font-size: .8rem;
    text-align: center;
    white-space: nowrap;
  }
  
.real-shirt{
    height: 10vh;
    width:7vw;
}

.club-shirt {
    width: 100%;
    height: 100%;
}

#formationSelect {
  margin-top: 10px; /* Adjust the top margin as needed */
  padding: 4px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}

.formation-dropdown {
  position: absolute;
  top: 8em; /* Adjust the top position as needed */
  right: 5em; /* Adjust the right position as needed */
}

.team-stats{
  position: absolute;
  top: 8em !important;
  right: 11em;
  display: flex;
  justify-content: space-between;
  background-color: #fffefe;
  color: black;
  width: 18em;
  border-radius: 25px;
  padding: 15px 25px;
  font-size: 15px;
}
.team-stats strong {
  border-radius: 25px;
  font-weight: bold;
  display: block;

}
@media only screen and (max-width: 700px) {
  .formation-dropdown  {
    top: 182px !important;
  }
  .team-stats {
    top: 11em !important;
  }
}

