/* Assuming you have a CSS file (e.g., Home.css) */
 .home-page {
    height: 100vh;  
    width: 100vw;
  }
  
  .home-team {
    font-size: 45px;
    font-weight: bold;
    color: #333;
  }
  .home-field-container {
    width: 100%; /* Adjust as needed */
    height: 100%; /* Adjust as needed */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
  }
  
  .home-field{
    height: 1000px;
    width:60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
  }

  .home-field-container .field-container {
    /* Reset the positioning styles for the field container in the home page */
    position: static; /* or use 'relative' based on your design */
    top: 0; /* Reset the top property */
    right: 0; /* Reset the right property */
    height: 95%;
    width: 100%;
  }

  .home-nav-bar {
    background-color: #333;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    padding-right: 0px;
    padding-left: 0px;
  }
  
  .home-nav-item {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
  }
  
  .home-nav-item:hover {
    text-decoration: underline;
  }
  .Edit-team {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #a000cc;
    border-radius: 25px;
    margin-bottom: 1em;
    color: white;
    border: 2px solid transparent; /* Initial transparent border */
    transition: all ease-in-out 0.4ms;
    cursor: pointer;
}

.Edit-team:hover {
    background-color: var(--btn-hover);
    
    /* background: linear-gradient(45deg, #FF6B6B, #FF8E53, #FFCA3A); Change gradient on hover */
    animation: none; /* Disable color animation on hover */
    border: 2px solid transparent; /* Reset border on hover */
    box-shadow: none; /* Reset box-shadow on hover */
}

/* Animation keyframes for color movement effect */
@keyframes moveColors {
    0% {
        background-position: 0% 50%; /* Initial background position */
    }
    100% {
        background-position: 100% 50%; /* Final background position */
    }
}

/* Animation keyframes for glowing and dimming box-shadow effect */
@keyframes glowBackground {
    0%, 100% {
        box-shadow: 0 0 10px rgba(255, 202, 58, 0.5); /* Initial and final glow effect */
    }
    50% {
        box-shadow: 0 0 5px rgba(255, 202, 58, 0.2); /* Dimming the glow effect in the middle of the animation */
    }
}

.home-page .real-shirt img {
  width: 6rem; /* Set the width to your desired size */
  height: 5rem; /* Maintain the aspect ratio */
}


@media only screen and (max-width: 800px) {
  .home-field{
    width: 70%;
    height: 650px;
  }
  .home-page .real-shirt img {
    width: 3rem;
    height: 3rem;
  }
  .home-page .real-shirt-container-2-name{
    height: 2vh;
    width: 10vw;
    top: 0;
    text-wrap: wrap;
  }
}