.leaderboard-page {
  /* width: 99.87vw; */
  /* height: 100vh; */
  margin: 0;
}

.main-leader {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.leader-nav-bar {
  background-color: #333;
  padding: 10px;
  padding-right: 0px;
  padding-left: 0px;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.leader-heading {
  width: 100%;
  height: 10%;
  padding: 0;
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.leaderboard-heading {
  margin: 0;
  font-size: 30px; /* Adjust the font size as needed */
  /* color: #e7e5e5; Change the color as needed */
  font-weight: bold;
}

.leader-nav-item {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
}

.leader-nav-item:hover {
  text-decoration: underline;
}

.leaderboard-container {
  width: 100%;
  /* height: 40%; */
  height: 300px;
  margin: 0;
  overflow-y: auto;
}

.leaderboard-table {
  width: 100%;
  height: 100%;
  margin: 0;
  border-collapse: collapse;
}
.leaderboard-table th {
  background-color: #a000cc !important;
  color:white;
}
.leaderboard-table th,
.leaderboard-table td {
  border: 2px solid #ddd; /* Add bold borders to table cells */
  text-align: center; /* Center text in cells */
  /* color: #333; Change the color as needed */
  padding: .7em; 
  text-align: center; /* Center text in cells */
  font-size: 1rem; /* Adjust the font size as needed */
  /* color: #333; Change the color as needed */
  white-space: nowrap; /* Prevent text wrapping */
  overflow: hidden; /* Hide overflow content */
  text-overflow: ellipsis; /* Display an ellipsis (...) to represent overflow */
  max-width: 0; /* Set max-width to 0 to allow ellipsis to work */
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 30%;
  height: 40%;
}

.pagination button {
  padding: 8px 16px;
  margin-right: 8px;
  cursor: pointer;
  font-size: 16px; /* Adjust the font size as needed */
  color: #333; /* Change the color as needed */
}

.pagination button.active {
  background-color: #a000cc;
  color: #fff;
}

.page-change {
  display: flex;
  height: 10vh;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.of {
  margin-right: .75em;
}




.league-buttons {
  display: flex;
  justify-content: center;
  gap: 20px; /* Adjust the gap as needed */
  margin: 20px 0; /* Add margin to separate the buttons from other elements */
 
}




.league-buttons button {
  padding: 10px 20px; /* Adjust the padding as needed */
  font-size: 16px; /* Adjust the font size as needed */
  cursor: pointer;
  background: #a000cc !important;
  border-radius: 25px !important;
  border: 1px solid transparent;
  color: white;
  border-radius: 25px;
}

.league-buttons button:hover, .league-buttons  :nth-child(2):hover {
  background-color: var(--btn-hover) !important;
}

.cards-container {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: column;
  gap: 20px; 
  margin: 20px 0;
 
  padding: 0 70px;
}

.league-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: flex-start; /* Align items to the start (top) */
  align-items: center;
  padding: 20px;
  flex-basis: 45%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  background-color: #fff; /* Add a background color to the cards */
  border-radius: 10px; /* Add border-radius to make the cards look nicer */
  text-align: center; /* Center the text inside the cards */
  overflow-y: auto;
  height: 75%;
  min-width: 500px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-title {
  margin-top: 0;
  margin-bottom: 10px; /* Add some space between the title and the rest of the card content */
}

  /* Modal styling */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Darken the background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure it sits above other content */
}
.prediction-league-form label {
  color: black !important;
}

.prediction-league-form button:nth-child(3) {
  background: rgb(188, 0, 0);
  color:white;
}
.modal-content {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 400px; /* Adjust the width as needed */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: left;
}

.modal-content form {
  display: flex;
  flex-direction: column;
}

.modal-content label {
  margin-bottom: 10px;
}

.modal-content button {
  margin-top: 10px;
  padding: 5px 10px; 
  font-size: 16px; /* Adjust the font size as needed */
  cursor: pointer;
  background: #a000cc;
  border: 1px solid transparent;
  color: white;
  border-radius: 25px;
}


.modal-content button:hover{
  background-color: var(--btn-hover);
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 50px; /* Set to match the height of your table rows or other tall elements */
  margin-top: 10px; /* Adjust margin as needed */
}

/* Styling for pagination buttons */
.pagination button {
  padding: 8px 16px;
  margin-right: 8px;
  cursor: pointer;
  font-size: 16px; /* Adjust the font size as needed */
  color: #333; /* Change the color as needed */
}

.pagination button.active {
  background-color: #a000cc;
  color: #fff;
}

/* Additional table styling for consistency */
.leaderboard-table tbody tr {
  height: 50px; /* Ensure table rows have consistent height */
}

/* Ensure pagination is within the tallest container */
.leaderboard-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.private-leagues-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 20px 0;
  display: flex;
  justify-content: space-evenly;
  /* align-items: center; */
  width: 95%;
}

.private-league-row {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.private-league-row:hover {
  background-color: #e9e9e9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.league-badge {
  width: 40px;
  height: 40px;
  margin-right: 20px;
  border-radius: 50%;
  object-fit: cover;
}

.league-name {
  flex-grow: 1;
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.view-league-button {
  padding: 10px 15px;
  background-color: #a000cc;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.view-league-button:hover {
  background-color: #a000cc;
  transform: translateY(-2px);
}


.no-leagues-message {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  align-self: center;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  text-align: center;
  max-width: 500px;
  margin: 20px;
}

.no-leagues-message p {
  margin-bottom: 10px;
  color: #333;
}

.no-leagues-message .league-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.no-leagues-message button {
  padding: 12px 24px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.no-leagues-message button:hover {
  background-color: #a000cc;
  transform: translateY(-2px);
}

.no-leagues-text {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.no-leagues-info {
  color: #555;
  margin-bottom: 20px;
}


.create-league-button join-league-button {
  padding: 12px 24px;
  background-color: #a000cc;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.create-league-button join-league-button:hover {
  background-color: #a000cc;
  transform: translateY(-2px);
}

.badge-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); /* Adjust grid columns based on badge size */
  gap: 10px;
  height: 40%;
}

.badge-item {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 1px solid #ccc;
  padding: 10px;
}

.badge-item:hover {
  border-color: #888;
}

.badge-image {
  max-width: 50px; /* Adjust maximum width of badge images */
  max-height: 50px; /* Adjust maximum height of badge images */
}

.prediction-league-global-header-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.prediction-league-global-header{
  font-size: 30px;
}

@media only screen and (max-width: 800px) {
  .cards-container{
    padding: 0;
  }
}