@font-face {
  font-family: 'Golazo'; /* Give your font a name */
  src: url('../../public/GolazoDemo-qZGDq.ttf') format('truetype');
  /* Add additional formats if needed */
}

.login-page {
  width: 100vw;
  background-color: rgb(134, 123, 123);
  margin: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around; /* Center horizontally */
}

.login-container {
  background-image: url('../../public/goolagoon.png');
  width: 27vw;
  height: 70vh;
  padding: 40px;
  border: 1px solid #ccc;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  animation: scaleIn 0.5s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-size: 100% 100%; /* Adjusted background size */
}


.top-login {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
}

.top-login h2 {
  font-size: 3.2em; /* Adjust the font size as needed */ /* Replace 'Your Fun Font' with the actual font name */
}

form {
  display: flex;
  flex-direction: column;
}

.in-form{
  display: flex;
  flex-direction: column;
  height: 40vh;
  width: 100%;
  
}

label {
  margin-bottom: 15px; /* Larger margin for labels */
  font-size: 16px; /* Larger font size for labels */
  font-weight: bold; /* Bold font for labels */
  color: #333; /* Darker text color for labels */
}

input {
  padding: 15px; /* Larger padding for inputs */
  border: 1px solid #aaa;
  border-radius: 8px;
  transition: border-color 0.3s ease;
  width: 100%;
}

input:focus {
  border-color: black;
  outline: none; 
}

.log-inputs-inform {
  height: 40vh;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.logbtn {
  background: linear-gradient(45deg, rgba(0, 255, 247, 1) 0%, rgba(229, 255, 255, 1) 50%, rgba(4, 186, 227, 1) 100%);
  color: black;
  padding: 15px; /* Larger padding for button */
  border: none;
  border-radius: 8px;
  cursor: pointer;
  animation: pulse 1s infinite; /* Pulsating animation */
  margin-top: 2em;
}

.logbtn:hover {
  opacity: 0.9; /* Slight transparency on hover */
  animation-play-state: paused;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes scaleIn {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.label-container {
  width: 100%;
  margin-bottom: .2em;
}

.input-pass {
  margin-top: 1em;
}

.input-container svg {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: #aaa; /* Adjust the color of the icons */
}

/* Add these styles to your existing CSS file */
.social-icons {
  display: flex;
  justify-content: space-around;
  margin-top: 1em;
}

.social-icon {
  font-size: 2em; /* Adjust the size of the icons */
  color: #555; /* Adjust the color of the icons */
  cursor: pointer;
}

.social-icon:hover {
  color: #000; /* Change the color on hover if desired */
}

.log-display-container {
  background-image: url('../../public/goolagoon.png');
  width: 40vw;
  height: 76vh;
  padding: 40px;
  padding-bottom: 0px;
  border: 1px solid #ccc;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(242, 230, 230, 0.2);
  animation: scaleIn 0.5s ease;
  background-size: 100% 100%; /* Adjusted background size */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}

.login-h1-EPL-container {
  display: flex;
  justify-content: center;
} 

.login-h1-EPL {
  font-size: 3.5rem;
}

.login-h3-EPL-container {
  display: flex;
  flex-direction: column;
  justify-content: start; /* Change to flex-start */
  align-items: center;
}

.login-h3-EPL{
  font-size: 1.7rem;
  margin: 0px;
}

.log-img {
  height: 45vh;
  width: 100%;
}
.log-img img {
  width: 100%;
  height: 100%
}

.signup-link {
  display: flex;
  justify-content: center;
  color: #ffffff !important; /* Set the color to white or any bright color you prefer */
  text-decoration: none; /* Remove default underline */
  font-weight: bold; /* Make the text bold */
  transition: color 0.3s ease; /* Add a smooth transition effect on color change */
}

.signup-link:hover {
  color: #ffcc00; /* Change the color on hover to a different bright color */
}

