/*

#ffffff	(255,255,255)
#00ff85	(0,255,133) green
#38003c	(56,0,60)   pruple
#e90052	(233,0,82) red


*/


.logincard-container{
    display:flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 100vh;
    border-radius: 25px;
}

.login-card{
    width: 75%;
    /* height: 45rem; */
    height: 100%;
    /* mix-blend-mode:difference; */
    background-image:url('/login2.png') ;
    background-repeat: no repeat;
    background-size: cover;
    background-color: antiquewhite;
    position:relative;
    border-radius: 25px;
}

.login-form{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:14px;
  position: absolute;
  color: #fff;
  bottom:30px;
  width: 20%;
  
}

.create-forgot{
    display: flex;
    justify-content: space-between;
    align-items:center;
    gap: 100px;
    
}

.create, .forgot{
    font-family: monospace;
    font-size: 12px;
    text-transform:capitalize ;
    color: #fff;
    text-align: center;
}

.create a,.forgot a{
    color: #fff;
    text-decoration: none;
    text-align: center;
}

.create a:hover, .forgot a:hover{
    color: white;
    
}

label{
    font-family: monospace;
    font-size: 16px;
    margin-right: 250px;
    margin-top: 3px;
    color:white;
}

.email-label{
    margin-right: 280px;
}

.email, .password{
   /* background-color: #38003d;*/
    width: 19rem;
    border:none;
    border-bottom: 2px solid #3d3d3d;
    padding: 5px 10px;
    outline: none;
    color: #000;
    font-size:15px;
    border-radius: 10px;
}

.start-btn{
  width: 20rem;
  padding: 10px 25px;
  background-color: #a000cc;
  color: white;
  font-size: 20px;
  font-weight: bold;
  border-radius: 25px;
  border: none;
  outline: none;
}

.start-btn:hover{
    cursor: pointer;
    background-color: var(--btn-hover);
}

@media only screen and (max-width: 771px) {
    .login-form{
        width: 60%;
    }
    .email, .password{
        width: 13rem;
    }
    .start-btn{
        width: 10rem;
        padding: 5px 15px;
        font-size: 16px;
    }
    .create-label-password{
        display: flex;
        align-items: center;
        gap: 6px;
    }
    .create-forgot{
        width: 100%;
    }
    .login-card{
        width: 90%;
    }
}