/* Navbar Styles */

.nav-header {
  margin: 0;
  padding: 0;
  background-color: #fffefe;
  min-width: 100vw;
  z-index: 10;
 
}

html {
  background-color: #e8e8e8;
}
.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: auto;
  padding: 10px;
  
 
}

.nav-listItems {
  display: flex;
  justify-content: space-between;
  list-style: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  gap: 70px;
  padding: 0;
  margin: 0;
  
}

.nav-image {
  width: 90%;
}

.nav-listItems li {
  padding: 15px;
  font-weight: bold;
  margin: 0;
}

.nav-listItems li a {
  text-decoration: none;
  color: #333;
}

.nav-listItems li a:hover {
 
  color: #a000cc;
  cursor: pointer;
}

.user-initial {
  font-family: Arial, Helvetica, sans-serif;
  text-transform: none; /* Ensure text is not transformed to uppercase */
}

/* Dropdown Styles */
.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  display: block;
  padding: 10px;
  font-size: 14px; /* Adjusted font size */
  color: #333;
  text-decoration: none;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.nav-header .navlogo img {
  width: 4rem;
  height: auto;
}


.nav-burger {
  display: none;
  position: absolute;
  top:5vh;
  right: 5px;
  border: 1px solid transparent;
  cursor: pointer;
  background-color: #e8e8e8;
  border-radius: 25px;
  transition: all ease-in-out 0.4ms;
}



.nav-burger-icon {
  font-size: 30px;
  color: #636363;
}


@media only screen and (max-width: 1109px) {
  
 
  .nav-listItems, .main-nav {
    position: relative;
    align-items: center;
    gap: 10px;
    flex-direction: column;
    padding: 0;
    
  }

  .nav-listItems {
     height: 0;
     visibility: hidden;;
  }
  .nav-burger {
    display: block;
  }
  .toggle-navlist {
    height: 100%;
    visibility: visible;
  }
}