
  .Rules{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  h2 {
    text-align: center;
  }
  
  section {
    margin-bottom: 20px;
  }
  
  h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  h4 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
 
  /* Add any additional styles as needed */
  