/* Ensure the background of the entire page is white
.auth-background {
  height: 100vh;
  background-color: #fff; 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 6em;
} */

.signup-page {
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /* background-color: #fff; */
}

/* Container for the signup content */
.signup-container {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 100px;
  max-width: 1200px;
  /* height: 1900px; */
  /* background-color: #fff; Set background color to white */
  border: none; /* Remove border */
  border-radius: 25px;
  margin-top: 20px;
  /* border-radius: 8px; */
  /* box-shadow: 0 2px 50px rgba(0, 0, 0, 0.1); */
}

/* Styles for the CreateAccountCard */
.signup-container > div:first-child {
  width: 50%;  
  padding: 20px;
  min-width: 500px;
  border-right: none; /* Remove border */
  background-color: #fff; 
  border-radius: 25px;
}

/* Flex container for the signup card */
.signupcard {
  width: 50%; /* Adjust the width as needed */
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  /* background-color: #fff; Set background color to white */
}

/* Styles for the header container */
.signin-h1-EPL-container,
.signin-h3-EPL-container {
  text-align: center;
  margin-bottom: 20px;
}

.sign-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sign-img img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .signup-container {
    flex-direction: column;
    width: 100%;
  }

  .signup-container > div:first-child,
  .signupcard {
    width: 100%;
    border-right: none;
    border-bottom: 1px solid #ddd;
  }
}
