/* 
body{
  
    line-height: 1.15; 
    font-size: 1.6rem;
    font-weight: 700px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }
   */
 


.home-s-cards-container{
    width: 85%;
    display:flex;
    justify-content: center;
    align-items: center;
    margin: auto;
  }

.three-cards-container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap:30px;
  flex-wrap: wrap;
  flex-grow: 1;
  flex-basis: 200;  
}



.small-card{
font-size: 1.2rem;
line-height: 1.6;
border-radius: 25px;
border: 1px solid transparent;
background-color: #fffefe;


width: 25%;
min-width: 300px;
display: flex;
flex-direction: column;
justify-content:center;
align-items: center;
gap: 10px;

 /* box-shadow: 0 0 15px 5px #ccc; */
 padding: 20px;
 margin-top: 40px;
 font-family: Arial, Helvetica, sans-serif;
}


.small-card img{
  width: 95%;
  height: 40vh;
  margin-top: 10px;
  
  
}

.small-card p{
  font-weight: bold;
}

.small-card button{
  padding: 15px 30px;
  background-color: #341931 ;
  color: #fff;
  font-size: 18px;

}

.small-card button:hover{
  cursor: pointer;
  border: 1px solid #efce6a;
  box-shadow: 0px 0px 7px 2px rgb(231, 191, 138) ;
  transition: .2s;
}

.all-icons{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

.icon{
  display:flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 15px;
}

.span-icon{
  font-size: 20px;
}

.opinion-icon, .date-icon, .name-icon{
  font-size: 30px;
}

