#root {
    height: 100vh;
}
.squad-page {
    height: 100vh; /* Adjust the height as needed */
    background-image: url('../../public/goolagoon.png');
    background-size: cover;
    background-repeat: no-repeat;
}
